body {
  background-color: whitesmoke;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; 
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.blog-post-card {
  background-color: white;
  border-radius: 30px;
  width: 100%;       
  max-width: 500px;
  margin: 0;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.post-img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-bottom: 4px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.post-content {
  padding: 8px;
}

.post-title, .post-excerpt {
  color: darkslategray;
  margin: 20px;
}

.read-more {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: saddlebrown;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.read-more:hover {
  color: lightgray;
  background-color: peru;
}

.read-more:visited {
  color: tan;
  background-color: darkred;
}

.read-more:active {
  color: orangered;
}

.read-more:focus {
  color: lightgray;
  background-color: darkred;
}